main {
	section {
		&:nth-of-type(2) {
			img {
				min-height: 200px;
			}
		}
	}

	@media screen and (541px <=width) {
		section {
			&:nth-of-type(3) {
				display: flex;
				justify-content: space-between;
				column-gap: 0;

				figure {
					width: 45%;

					&:last-of-type {
						margin: auto;
					}
				}
			}
		}
	}

	@media screen and (1024px <=width) {
		section {
			&:nth-of-type(1) {
				grid-template-areas:
					"a a a"
					"b c d";
			}

			&:nth-of-type(2) {
				grid-template-areas:
					"a a a"
					"b c c";
			}

			&:nth-of-type(3) {
				display: grid;
				grid-template-areas:
					"a a a"
					"b c d";
				column-gap: 4rem;

				figure {
					width: 100%;
				}
			}
		}
	}
}