html {
	--primary-bg: #c9ab98;
	/* --primary-bg: #ae8b75; */
	/* --primary-bg: #88634e; */


	/* --secondary-bg: rgb(34, 139, 34); */
	/* Forest Green */

	/* --secondary-bg: rgb(50, 205, 50); */
	/* Lime Green */
	/* --secondary-bg: rgb(107, 142, 35); */
	/* Olive Drab */
	--secondary-bg: rgb(152, 251, 152);
	/* Pale Green */
	/* --secondary-bg: rgb(80, 200, 120); */
	/* Medium Sea Green */
	--background-text: hsl(from var(--secondary-bg) h calc(s) calc(l/1.25) / 1);
	--terciary-bg: hsl(180, 100%, 16%);
	--text: hsl(0, 0%, 0%);
	--text-light: hsl(0, 0%, 20%);

	color: var(--text-light);
	background-color: var(--primary-bg);
	scrollbar-color: var(--secondary-bg) var(--primary-bg);
}

:focus-visible {
	outline: var(--text) solid 4px;
}

h1 {
	color: var(--primary-bg);
}

:is(h2, h3, strong) {
	color: var(--text);
}

/* h2 {
	color: #028170;
} */

main {
	>div {
		img {
			filter: brightness(40%);
		}
	}
}