footer {
    display: grid;
    gap: 3em 0;
    padding: 2em 10vw;
    background-color: var(--secondary-bg);

    h2 {
        text-align: left;
    }

    section {
        display: grid;
        gap: 1.25em 0;
    }

    menu {
        display: grid;
        gap: 0.4em 2.5em;
    }

    ul {
        display: grid;
        gap: 1.5em;
    }

    img {
        width: 50%;
    }

    @media screen and (541px <=width) {
        h2 {
            font-size: 1.4em;
        }

        menu {
            display: flex;
        }

        ul {
            grid-template-columns: repeat(3, auto);
            gap: 3em;
            align-items: center;
        }

        img {
            width: 100%;
        }
    }

    @media screen and (1024px <=width) {
        padding: 2em 7.5vw;
        grid-template-columns: auto 60%;

        h2 {
            font-size: 1.5em;
        }

        menu {
            display: grid;
        }

        ul {
            gap: 5em;
        }
    }
}