main {
	display: grid;
	gap: 5rem 0;
	padding-bottom: 7rem;

	>div {
		position: relative;

		img {
			height: 375px;
		}
	}

	h1 {
		width: 100%;
		padding: 0 10vw;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	h2 {
		flex-basis: 100%;
		grid-column: 1/-1;
	}

	section {
		display: grid;
		gap: 2rem 3.25rem;
		padding: 0 10vw;
	}

	ul {
		display: grid;
		row-gap: 1rem;
		column-gap: inherit;
		column-count: 3;
	}

	figure {
		display: grid;
		gap: 1rem 0;
	}

	@media screen and (541px <=width) {
		>div {
			img {
				height: 550px;
			}
		}
	}

	@media screen and (1024px <=width) {
		>div {
			img {
				height: auto;
			}
		}

		h1 {
			padding: 0 7.5vw;
		}

		section {
			padding: 0 7.5vw;
			grid-template-columns: repeat(3, 1fr);
			gap: 1.75rem 4rem;

			>img {
				height: 100%;
			}
		}
	}
}