main {
	display: grid;
	gap: 5rem 0;
	padding-bottom: 7rem;

	>img {
		anchor-name: --banner-img;
		height: 375px;
	}

	h1 {
		margin: 0 10vw;
		position: absolute;
		position-anchor: --banner-img;
		justify-self: anchor-center;
		align-self: anchor-center;
	}

	h2 {
		flex-basis: 100%;
		grid-column: 1/-1;
	}

	section {
		display: grid;
		gap: 2.5rem 3.25rem;
		padding: 0 10vw;
	}

	ul {
		display: grid;
		row-gap: 2rem;
		column-gap: inherit;
		column-count: 3;
	}

	figure {
		display: grid;
		gap: 1rem 0;
	}

	hgroup {
		display: grid;
		gap: 0.75rem 0;
	}

	@media screen and (541px <=width) {
		>img {
			height: 550px;
		}
	}

	@media screen and (1024px <=width) {
		>img {
			height: auto;
		}

		h1 {
			margin: 0 7.5vw;
		}

		section {
			padding: 0 7.5vw;
			grid-template-columns: repeat(3, 1fr);
			gap: 2.5rem 4rem;

			>img {
				height: 100%;
			}
		}
	}
}