:is(*, *::before, *::after) {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font: inherit;
	line-height: 1.5;
	/* text-box-trim: both;
	text-box-edge: cap alphabetic; */
	text-wrap: pretty;
	text-align: justify;
	hyphens: auto;
	overflow-wrap: break-word;
	color: inherit;
	background-color: transparent;
	flex-wrap: wrap;
}

html {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

:is(ul, ol, menu) {
	list-style: none;
}

li {
	/* list-style: inherit; */
	break-inside: avoid;
	text-wrap: initial;
}

:is(img, svg, video) {
	display: block;
	width: 100%;
	height: auto;
}

img {
	object-fit: cover;
}

:is(button, summary) {
	cursor: pointer;
}